<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <h1>DramPC is a wholesale online store for custom build computers</h1>
  <h2> Contacts US: Tel No. +353 (0) 860871111</h2>
  <h2> Contacts US: Email: info@dreampc.ie (example only)</h2>
  
  </p>
