<% provide(:title, "Members") %>
<h1>Members</h1>
<p>
  <h2> To be developed for members only area.</h2>
  <h2> Payment schedules with payment plans</h2>
  <h2> Progress of build, Upates</h2>
</p>
<%= image_tag("107 towers.jpg", alt:"Sample Tower")%> 
