<h1> Categories</h1>
<br>
<table class="catalog">
    <% @categories.each do |category| %>
    <tr>
        <td>
            <div class="category">
                <h2><%= category.title %></h2>
                <p><%= category.description%></p>
                
                
            </div>
        </td>
    </tr>
    <% end %>
</table>